
:root {
--pink: #FFCFEF;
--bg: #161616;
--fg: white;
}


body {
background-color: var(--bg);
color: white;
font-family: "Libre Baskerville";
text-align: center ;
}

#menu a, nav, ul, li, h {
    margin-bottom: 0;
    margin-top: 0;
    text-decoration: none;
    color: white;
}

#menu li {
    list-style-type: none;
    display: inline;
}

#menu li.active > a {
    background-color: var(--pink);
    color: var(--bg);
}

.menu-centered {
    text-align: center; margin-bottom: 20px; margin-top: 0px;
}

.centered-list {
    display: inline-block;
    text-align: left;
}


h1 { color: var(--pink) ; }
h2 { color: var(--pink) ; }
h3 { color: white ; }
h4 { color: white ; }
h5, h6 { color: cornsilk ; }

a {
    color: inherit;
    text-decoration-line: underline;
    text-decoration-color: var(--pink);
    text-decoration-thickness: calc(1em / 7);
}

a:hover { color: var(--pink); text-shadow: 0 0 0.5em var(--pink); }

header {
    text-align: center ;
    padding-bottom: 15pt ;
}

header h1 {
    font-size: 30pt ;
    margin-bottom: 0 ;
}

header h2 {
    margin-top: 0 ;
    font-style: italic ;
    padding: .5em ;
}

.body {
    text-align: left ;
}

ul {
list-style-type: "✦ "; 
}

.libre-baskerville-regular {
font-family: "Libre Baskerville", serif;
font-weight: 400;
font-style: normal;
}

.libre-baskerville-bold {
font-family: "Libre Baskerville", serif;
font-weight: 700;
font-style: normal;
}

.libre-baskerville-regular-italic {
font-family: "Libre Baskerville", serif;
font-weight: 400;
font-style: italic;
}
